### idea
.idea/
*.iml

### sts
.settings
.classpath
.project

### maven
bga-discovery/target/
bga-auth/target/
bga-api/target/
bga-ui/target/
bga-gateway/target/
bga-config/target/
target/image_info.json

### node
npm-debug.log
npm-debug.log*
bga-ui/etc/
bga-ui/node/
bga-ui/node_modules/
### coverage
bga-ui/coverage/
bga-ui/src/main/resources/static
