### idea
.idea/
*.iml

### sts
.settings
.classpath
.project

### maven
bga-discovery/target/
bga-auth/target/
bga-api/target/
bga-store/target/
bga-ui/target/
bga-gateway/target/
bga-config/target/
target/image_info.json
configs

### node
npm-debug.log
npm-debug.log*
bga-ui/etc/
bga-ui/node/
bga-ui/node_modules/
### coverage
bga-ui/coverage/
bga-ui/src/main/resources/static
bga-gateway/e2e/
bga-gateway/node/etc/
bga-gateway/node/node_modules/npm/bin/
bga-gateway/node/node_modules/npm/changelogs/
bga-gateway/node/node_modules/npm/doc/
bga-gateway/node/node_modules/npm/html/
bga-gateway/node/node_modules/npm/lib/
bga-gateway/node/node_modules/npm/man/
bga-gateway/node/node_modules/npm/node_modules/abbrev/
bga-gateway/node/node_modules/npm/node_modules/ansi-regex/
bga-gateway/node/node_modules/npm/node_modules/ansicolors/
bga-gateway/node/node_modules/npm/node_modules/ansistyles/
bga-gateway/node/node_modules/npm/node_modules/aproba/
bga-gateway/node/node_modules/npm/node_modules/archy/
bga-gateway/node/node_modules/npm/node_modules/asap/
bga-gateway/node/node_modules/npm/node_modules/chownr/
bga-gateway/node/node_modules/npm/node_modules/cmd-shim/
bga-gateway/node/node_modules/npm/node_modules/columnify/
bga-gateway/node/node_modules/npm/node_modules/config-chain/
bga-gateway/node/node_modules/npm/node_modules/debuglog/
bga-gateway/node/node_modules/npm/node_modules/dezalgo/
bga-gateway/node/node_modules/npm/node_modules/editor/
bga-gateway/node/node_modules/npm/node_modules/fs-vacuum/
bga-gateway/node/node_modules/npm/node_modules/fs-write-stream-atomic/
bga-gateway/node/node_modules/npm/node_modules/fstream-npm/
bga-gateway/node/node_modules/npm/node_modules/fstream/
bga-gateway/node/node_modules/npm/node_modules/glob/
bga-gateway/node/node_modules/npm/node_modules/graceful-fs/
bga-gateway/node/node_modules/npm/node_modules/has-unicode/
bga-gateway/node/node_modules/npm/node_modules/hosted-git-info/
bga-gateway/node/node_modules/npm/node_modules/iferr/
bga-gateway/node/node_modules/npm/node_modules/imurmurhash/
bga-gateway/node/node_modules/npm/node_modules/inflight/
bga-gateway/node/node_modules/npm/node_modules/inherits/
bga-gateway/node/node_modules/npm/node_modules/ini/
bga-gateway/node/node_modules/npm/node_modules/init-package-json/
bga-gateway/node/node_modules/npm/node_modules/lockfile/
bga-gateway/node/node_modules/npm/node_modules/lodash._baseindexof/
bga-gateway/node/node_modules/npm/node_modules/lodash._baseuniq/
bga-gateway/node/node_modules/npm/node_modules/lodash._bindcallback/
bga-gateway/node/node_modules/npm/node_modules/lodash._cacheindexof/
bga-gateway/node/node_modules/npm/node_modules/lodash._createcache/
bga-gateway/node/node_modules/npm/node_modules/lodash._getnative/
bga-gateway/node/node_modules/npm/node_modules/lodash.clonedeep/
bga-gateway/node/node_modules/npm/node_modules/lodash.restparam/
bga-gateway/node/node_modules/npm/node_modules/lodash.union/
bga-gateway/node/node_modules/npm/node_modules/lodash.uniq/
bga-gateway/node/node_modules/npm/node_modules/lodash.without/
bga-gateway/node/node_modules/npm/node_modules/mkdirp/
bga-gateway/node/node_modules/npm/node_modules/node-gyp/
bga-gateway/node/node_modules/npm/node_modules/nopt/
bga-gateway/node/node_modules/npm/node_modules/normalize-package-data/
bga-gateway/node/node_modules/npm/node_modules/npm-cache-filename/
bga-gateway/node/node_modules/npm/node_modules/npm-install-checks/
bga-gateway/node/node_modules/npm/node_modules/npm-package-arg/
bga-gateway/node/node_modules/npm/node_modules/npm-registry-client/
bga-gateway/node/node_modules/npm/node_modules/npm-user-validate/
bga-gateway/node/node_modules/npm/node_modules/npmlog/
bga-gateway/node/node_module
s/npm/node_modules/once/
bga-gateway/node/node_modules/npm/node_modules/opener/
bga-gateway/node/node_modules/npm/node_modules/osenv/
bga-gateway/node/node_modules/npm/node_modules/path-is-inside/
bga-gateway/node/node_modules/npm/node_modules/read-cmd-shim/
bga-gateway/node/node_modules/npm/node_modules/read-installed/
bga-gateway/node/node_modules/npm/node_modules/read-package-json/
bga-gateway/node/node_modules/npm/node_modules/read-package-tree/
bga-gateway/node/node_modules/npm/node_modules/read/
bga-gateway/node/node_modules/npm/node_modules/readable-stream/
bga-gateway/node/node_modules/npm/node_modules/readdir-scoped-modules/
bga-gateway/node/node_modules/npm/node_modules/realize-package-specifier/
bga-gateway/node/node_modules/npm/node_modules/request/
bga-gateway/node/node_modules/npm/node_modules/retry/
bga-gateway/node/node_modules/npm/node_modules/rimraf/
bga-gateway/node/node_modules/npm/node_modules/semver/
bga-gateway/node/node_modules/npm/node_modules/sha/
bga-gateway/node/node_modules/npm/node_modules/slide/
bga-gateway/node/node_modules/npm/node_modules/sorted-object/
bga-gateway/node/node_modules/npm/node_modules/strip-ansi/
bga-gateway/node/node_modules/npm/node_modules/tar/
bga-gateway/node/node_modules/npm/node_modules/text-table/
bga-gateway/node/node_modules/npm/node_modules/uid-number/
bga-gateway/node/node_modules/npm/node_modules/umask/
bga-gateway/node/node_modules/npm/node_modules/unique-filename/
bga-gateway/node/node_modules/npm/node_modules/unpipe/
bga-gateway/node/node_modules/npm/node_modules/validate-npm-package-license/
bga-gateway/node/node_modules/npm/node_modules/validate-npm-package-name/
bga-gateway/node/node_modules/npm/node_modules/which/
bga-gateway/node/node_modules/npm/node_modules/wrappy/
bga-gateway/node/node_modules/npm/node_modules/write-file-atomic/
bga-gateway/node/node_modules/npm/scripts/
bga-gateway/node/node_modules/npm/test/
bga-gateway/src/main/frontend/
bga-gateway/src/main/resources/static/
bga-gateway/src/main/resources/templates/
bga-store/target/bga-store-1.0.0.jar
bga-store/target/bga-store-1.0.0.jar.original
bga-store/target/classes/hu/odrin7/bga/BGAStoreApplication.class
bga-store/target/classes/hu/odrin7/bga/Controller/BoardGameStoreController.class
bga-store/target/classes/hu/odrin7/bga/domain/store/
bga-store/target/classes/hu/odrin7/bga/service/BoardGameStoreService.class
bga-store/target/classes/hu/odrin7/bga/service/BoardGameStoreServiceImpl.class
bga-store/target/classes/hu/odrin7/bga/service/StoreService.class
bga-store/target/classes/hu/odrin7/bga/service/StoreServiceImpl.class
bga-store/target/classes/hu/odrin7/bga/service/blogpost/
bga-store/target/classes/hu/odrin7/bga/service/boardgame/
bga-store/target/classes/hu/odrin7/bga/service/security/service/
bga-store/target/docker/bga-store-1.0.0.jar
bga-store/target/generated-sources/
bga-store/target/generated-test-sources/
bga-ui/src/test/java/org/
target/
