<td-layout-nav logo="assets:covalent" xmlns="http://www.w3.org/1999/html">
  <md-toolbar color="primary" class="md-whiteframe-z1">
    <a md-icon-button mdTooltip="Back" (click)="goBack()">
      <md-icon>arrow_back</md-icon>
      <span>Back</span>
    </a>
  </md-toolbar>
  <div class="md-content" flex md-scroll-y>
    <div layout="column" layout-gt-sm="row" class="inset">
      <div flex-gt-sm="60">
        <div layout="column" class="cardStyle">
          <bga-game-element></bga-game-element>
        </div>
        <bga-chat></bga-chat>
      </div>
      <div flex-gt-sm="40">
      </div>
    </div>
  </div>
</td-layout-nav>
