<td-layout-nav logo="assets:covalent" xmlns="http://www.w3.org/1999/html">
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Board Game Arena + {{boardGameId}}</span>
    <span flex></span>
  </div>
  <md-tab-group md-stretch-tabs>
    <md-tab>
      <template md-tab-label>First tab content</template>
      <bga-game-element></bga-game-element>
    </md-tab>
    <md-tab>
      <template md-tab-label>Second tab content</template>
      <bga-gameboard [routing]="'/arena/'"></bga-gameboard>
    </md-tab>
    <md-tab>
      <template md-tab-label>Second tab content</template>
      <bga-arena-game-detail></bga-arena-game-detail>
    </md-tab>
  </md-tab-group>
  <bga-chat></bga-chat>
  <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span class="md-caption"> Copyright &copy; 2016 Teradata. All rights reserved</span>
      <span flex></span>
      <md-icon class="md-icon-ux" svgIcon="assets:teradata-ux"></md-icon>
    </div>
  </td-layout-footer>
</td-layout-nav>
